<header class="contentstart">
  <div class="row">
  	<div class="large-12 columns">
  		<h3>&quot;A C program is like a fast dance on a newly waxed dance floor by people carrying razors&quot;.</h3>
      <h5>&mdash;Waldi Ravens</h5>
  	</div>
  </div>
</header>

<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>About</h4>
    <p>It&apos;s good to meet you! I&apos;m Ashley. I created this website using modern web technologies:
			<%= link_to "Foundation", "http://foundation.zurb.com" %>, 
			<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>, 
			<%= link_to "PostgreSQL", "http://www.postgresql.org"%> and 
			<%= link_to "Heroku", "https://www.heroku.com" %>. I graduated with a BSc(Hons) Computing degree in Dec 2014. 
			I&apos;m a Data Analyst, working in the housing sector. I support good strategic decision-making through
            insightful analysis of housing data.</p>
		<p>I like to use JavaScript and D3 to create <%= link_to "interactive data visualisations", "https://intense-coast-2111.herokuapp.com" %>.
			</p>
  </div>
  <div class="medium-6 large-4 columns" id="self_portrait"></div>
</div>

<hr />
<div class="row about">
  <div class="large-12 columns">

		<h4>Projects</h4>
		<p>These are some of the things I&apos;m working on, or will work on soon. 
				The projects are works in progress, in my spare time. Clicking an image takes you to GitHub, or for visualisation projects, a live example.</p>
		<div class="row">
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/tsarchessfx" target="_blank">
	  			<img  src="<%= asset_path("tsarchess.png") %>">
				</a>
	  		<p class="panel"><small>TsarChess is a chess client for games analysis and remote play written in Java.</small></p>
			</div>
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/ruby_percept" target="_blank">
	  			<img  src="<%= asset_path("jruby.jpg") %>">
				</a>
				<p class="panel"><small>Perceptron contains AI algorithms for perceptrons and is written in Ruby.</small></p>
			</div>
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/blog" target="_blank">
	  			<img  src="<%= asset_path("space.png") %>">
				</a>
				<p class="panel"><small>Personal site, full of goodies, and written in Ruby on Rails.</small></p>
			</div>
			<div class="large-3 small-6 columns text-center">
				<a href="https://intense-coast-2111.herokuapp.com" target="_blank">
	  			<img  src="<%= asset_path("d3.png") %>">
				</a>
				<p class="panel"><small>Interactive data visualisations written in JavaScript.</small></p>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="row about">
  <div class="large-12 columns">

    <h4>Blog</h4>
    <p>I blog infrequently about weiqi, an ancient Chinese board game (known in the West as go). I also like to blog about programming languages, artificial intelligence and technology.</p>

    <p>Find my blog at the top of the page.</p>

</div>
    </div>