<header>
  <div class="row">
  	<div class="large-12 columns">
  		<h1>Welcome!</h1>
			<h4>This is my personal homepage where I share projects and ideas.</h4>
  	</div>
  </div>
</header>

<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>About</h4>
    <p>Pleased to meet you! I&apos;m Ashley. I created this website using 
			<%= link_to "Foundation", "http://foundation.zurb.com" %>, 
			<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>, 
			<%= link_to "PostgreSQL", "http://www.postgresql.org"%> and 
			<%= link_to "Heroku", "https://www.heroku.com" %>. I graduated with a BSc(Hons) Computing degree in Dec 2014. 
			I&apos;m a Data Analyst, working in the housing sector. I give insight to users, and aide 
			strategic decision-making, through dynamic data visualisations.</p>
		<p>I have recently rekindled my chess-playing days in the 
			<%= link_to "Nottinghamshire league", "http://nottschess.org"%>.</p>
  </div>
  <div class="medium-6 large-4 columns" id="self_portrait"></div>
</div>

<hr />
<div class="row">
  <div class="large-12 columns">

		<h4>Projects &amp; Proposals</h4>
		<p>These are some of the things I&apos;m working on, or will work on soon. 
				The projects are in the early stages. Click the images to go to GitHub, 
				or go to the Projects page for more information.</p>
		<div class="row">
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/tsarchessfx" target="_blank">
	  			<img src="<%= asset_path("tsarchess.png") %>">
				</a>
	  		<p class="panel"><small>TsarChess is a chess client for games analysis and remote play written in Java FX.</small></p>
			</div>
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/ruby_percept" target="_blank">
	  			<img src="<%= asset_path("jruby.jpg") %>">
				</a>
				<p class="panel"><small>Percept contains AI algorithms for perceptrons and genetic computation in JRuby.</small></p>
			</div>
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/blog" target="_blank">
	  			<img src="<%= asset_path("space.png") %>">
				</a>
				<p class="panel"><small>Personal site which features static and dynamic content and user authentication.</small></p>
			</div>
			<div class="large-3 small-6 columns text-center">
				<a href="https://www.github.com/ashleylester/blog" target="_blank">
	  			<img src="<%= asset_path("d3.png") %>">
				</a>
				<p class="panel"><small>AngularJS as the framework and D3 as the front-end creates great visualisations.</small></p>
			</div>
		</div>
	</div>
</div>

<hr />
