<!DOCTYPE html>
<html lang="en">
  <head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
			<%= content_for?(:title) ? yield(:title) : "Ashley's Pages" %>
		</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<div class="fixed">
			<nav class="top-bar" data-options="scrolltop: false" role="navigation">
				<ul class="title-area">
				  <li class="name">
				    <h1><%= link_to "Ashley Lester", root_path %></a></h1>
		      </li>
		      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		      <li class="toggle-topbar menu-icon">
						<a href="#"><span>Menu</span></a>
					</li>
				</ul>
				<section class="top-bar-section">
				<ul class="right">
					<li class="divider"></li>
					<li><%= link_to 'Blog', posts_path %></li>
					<li class="divider"></li>
                    <li><%= link_to "Download my CV", welcome_download_url%></li>
                    <li class="divider"></li>
					<li class="has-form">
				  	<a href="#" data-reveal-id="firstModal" class="button round">Contact Me</a>
						<div id="firstModal" class="reveal-modal" data-reveal>
						  <h4>Contact Me</h4>
						  <p>Due to Heroku's lack of free SSL endpoints, I cannot implement this right now.
                          Until I move to CloudFlare, please use the social media links at the bottom of the page!</p>
							<%#= form_for :contact_request , url: contact_requests_path do |f| %>
							  <!--<div class="row">-->
							    <!--<div class="large-12 columns">-->
                                  <!--<%#= f.label :title %>-->
                                  <!--<%#= f.text_field :title %>-->
							    <!--</div>-->
							  <!--</div>-->
							  <!--<div class="row">-->
							    <!--<div class="large-6 columns">-->
							      <!--<%#= f.label :name_or_company %>-->
							      <!--<%#= f.text_field :name_or_company %>-->
							    <!--</div>-->
							    <!--<div class="large-6 columns">-->
                                  <!--<%#= f.label :telephone %>-->
                                  <!--<%#= f.text_field :telephone %>-->
							    <!--</div>-->
							  <!--</div>-->
                              <!--<div class="row">-->
						        <!--<div class="large-6 columns">-->
						            <!--<%#= f.label :subject %>-->
                                    <!--<%#= f.text_field :subject %>-->
						        <!--</div>-->
                              <!--</div>-->
							  <!--<div class="row">-->
							    <!--<div class="large-12 columns">-->
							        <!--<%#= f.label :body %>-->
                                    <!--<%#= f.text_area :body %>-->
							    <!--</div>-->
							  <!--</div>-->
                              <!--<div class="row">-->
                                <!--<div class="large-12 columns">-->
                                    <!--<%#= f.submit :submit, class: 'button' %>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--<%# end %>-->
						  <a class="close-reveal-modal">&#215;</a>
						</div>
					</li>
					<li class="divider"></li>
				</ul>
			</section>
		  </nav>
		</div>
    <%= yield %>
		<footer>
			<div class="row">
				<a href="http://stackoverflow.com/users/3685572/alester" class="webicon stackoverflow large">My StackOverflow</a>
				<a href="https://github.com/ashleylester" class="webicon github large">My Github</a>
				<a href="https://twitter.com/ashleyjdlester" class="webicon twitter large">My Twitter</a>
			</div>
		</footer>
  </body>
</html>
