<!DOCTYPE html>
<html lang="en">
  <head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
			<%= content_for?(:title) ? yield(:title) : "Ashley's Pages" %>
		</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<div class="fixed">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
				  <li class="name">
				    <h1><a href="#">Ashley Lester</a></h1>
		      </li>
		      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		      <li class="toggle-topbar menu-icon">
						<a href="#"><span>Menu</span></a>
					</li>
				</ul>
				<section class="top-bar-section">
				<ul class="right">
					<li class="divider"></li>
					<li><a href="#">Blog</a></li>
					<li class="divider"></li>
					<li><a href="#">Projects</a></li>
					<li class="divider"></li>
					<li><a href="#">Chess</a></li>
					<li class="divider"></li>
					<li class="has-form">
				  	<a href="#" data-reveal-id="firstModal" class="button round">Contact Me</a>
						<div id="firstModal" class="reveal-modal" data-reveal>
						  <h4>Contact Me</h4>
						  <p>This form is not yet operational. Please use the social media links at the bottom of the homepage.</p>
							<form>
							  <div class="row">
							    <div class="large-12 columns">
							      <label>Your Email Address
							        <input type="text" placeholder="" />
							      </label>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-6 columns">
							      <label>Name or Company
							        <input type="text" placeholder="" />
							      </label>
							    </div>
							    <div class="large-6 columns">
							      <label>Telephone
							        <input type="text" placeholder="This field is optional" />
							      </label>
							    </div>
							  </div>
							 <div class="row">
						    <div class="large-6 columns">
						      <label>Subject
						        <input type="text" placeholder="" />
						      </label>
						    </div>
							 </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <label>Body
							        <textarea placeholder="Write your message here&hellip;"></textarea>
							      </label>
							    </div>
							  </div>
							</form>
						  <p><a href="#" data-reveal-id="secondModal" class="button small">Submit</a></p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
						<div id="secondModal" class="reveal-modal" data-reveal>
						  <h4>Error</h4>
						  <p>This form is not yet operational.</p>
						  <a class="close-reveal-modal">&#215;</a>
						</div>
					</li>
					<li class="divider"></li>
				</ul>
			</section>
		  </nav>
		</div>
    <%= yield %>
		<footer>
			<div class="row">
				<a href="#" class="webicon facebook large">Like us on Facebook</a>
				<a href="#" class="webicon stackoverflow large">Like us on Facebook</a>
				<a href="#" class="webicon github large">Like us on Facebook</a>
								<a href="#" class="webicon twitter large">Like us on Facebook</a>
												<a href="#" class="webicon google large">Like us on Facebook</a>
			</div>
		</footer>
  </body>
</html>
